@model IEnumerable<TDVLesson06CF.Models.TDVCategory>

@{
    ViewBag.Title = "TDVIndex";
}

<h2>TDVIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TDVCategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TDVCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TDVId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TDVId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TDVId })
        </td>
    </tr>
}

</table>
